*{
    font-family: 'Times New Roman';
    background-color: rgb(236, 236, 236);
}

body{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

body, body *{
    background-color: white;
}

.rlist{
    text-align: center;
    margin: auto;
    padding: 8px;
    border: 4px solid black;
    width: 350px;
}

.rlist, .rlist h2{
    background-color: beige;
}

.rlist a{
    display: block;
    background-color: rgb(210, 255, 161);
    margin: 12px auto;
    width: 150px;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.rlist a:hover{
    background-color: rgb(229, 255, 201);
    border: 4px solid black;
    padding: 4px;
}

img{
    width: 512px;
    height: auto;
}